body{
        background: #000 url(background.jpg);
        color: #fff;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
        height: 100vh;
        padding: 0;
    }
    header{
        display: flex;
        justify-content: space-evenly;
        height: 50vh;
    }
    #logo-div{
        height: 100%;
    }
    #logo{
        height: 100%;
    }
    #header-info{
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    #main{
        height: 50vh;
        overflow: scroll;
        background-color: rgba(0,0,0,0.5);
    }
    h3{
        color: white;
    }